<footer class="c-footer">
  <div class="u-container c-footer__container">
      <p>Мы &mdash; бизнес-ангел, нацеленный на создание проектов в области мобильных технологий</p>
      <p><ul>
          <li>Начальные инвестиции &mdash; 1M$</li>
          <li>Мы помогаем с продажей, защитой интеллектуальной собственности, созданием патентов и прочей юридической ерундой</li>
          <li>Мы помогаем с созданием команд PR-специалистов, менеджеров по маркетингу и продажам</li>
      </ul></p>
      <p><ul>
          <li>“Красных” с Codeforces</li>
          <li>Финалистов ACM ICPC</li>
          <li>Разработчиков из Yandex и VK</li>
          <li>Мастеров своего дела, способных подтвердить свои навыки</li>
        </ul></p>
          
  </div>
</footer>
